<html>
<head> 
<title> To-do app </title>
<link href="/styles.css" rel="stylesheet">
</head>

<body>
<div class="container">
<h1> To-do List </h1>

<form action="/addtask" method="POST">

<input type="text" name="newtask" placeholder="add a new task">
<button> Add Task </button>

<h2> Tasks </h2>

<% for(let i = 0; i < task.length; i++) { %>
    <li><input type="checkbox" name="check" value="<%= task[i] %>" /> <%= task[i] %> </li>
<% } %>

<button formaction="/removetask" type="submit" id="top"> Remove </button>
<button formaction="/completetask" type="submit" id="top"> Complete </button>

<h2> Completed tasks </h2>

 <% for(let i = 0; i < complete.length; i++) { %>
    <li><input type="checkbox" checked><%= complete[i] %> </li>
<% } %>

</div>
</body>
</html>