* {
    font-weight: normal;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 25px;
    margin-bottom: 0px;
    font-weight: bold;
    text-decoration: underline;
}

body {
    background: rgb(238, 231, 231);
    color: #000000;
    margin-top: 20px;
}

.container {
    display: block;
    width: 400px;
    margin: 0 auto;
}